@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

body {
  background: #c6cbef;
  display: grid;
  place-items: center;
  font-family: "Muli", sans-serif;
}

.header {
  text-align: center;
}

.logo {
  width: 150px;
}

.survey-cont {
  background: #f5f5f5;
  width: 700px;
  height: auto;
  padding: 100px 50px;
  border-radius: 15px;
  margin: 50px 0;
  box-shadow: 10px 10px 10px #3c4245;
  position: relative;
  text-align: center;
}

@media (max-width: 1000px) {
  .survey-cont {
    width: 70%;
  }

  .logo {
    width: 100px;
  }
}

.container {
  margin: 30px 0;
  text-align: left;
}

.form-group {
  box-sizing: border-box;
  margin: 0 0 20px 0;
}

.form-group label:first-child,
.form-group p {
  font-weight: bold;
}

.form-group input,
#dropdown {
  display: inline-block;
  width: 100%;
  height: 2rem;
  box-sizing: border-box;
}

.submit {
  width: 200px;
  height: 2rem;
  background: none;
  border: 1px solid #000;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.submit:hover {
  background: #50d890;
  color: #fff;
  border: none;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
  height: auto;
}

textarea {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  padding: 10px;
}

.circle {
  width: 100px;
  height: 100px;
  border: 7px solid;
  border-color: #99a5fb transparent transparent transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  transform: rotate(0deg);
  box-sizing: border-box;
}

.loading {
  animation: loading 3s ease-in-out forwards;
}

.hide {
  display: none;
}

.pop {
  animation: pop 1s forwards;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  40% {
    transform: rotate(360deg);
    opacity: 1;
  }
  80% {
    transform: rotate(720deg);
    opacity: 1;
  }
  100% {
    transform: rotate(1080deg);
    opacity: 0;
  }
}

@keyframes pop {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
